.card-spec{
    background-color: rgb(236, 235,235);
    border-radius: 10px;
    padding: 2%;
}
.card-spec:hover{
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.265);
    color: rgb(236, 125, 22);
}
.icon-size{
    font-size: 25px;
    border-radius: 100%;
    background-color: white;
    width: 25%;
    height: 35%;
    border: black 3px solid;
    text-align: center;
    padding-top: 6%;
}
.arrow-pos{
    padding-left: 70%;
    padding-top: 30%;
}
.color-orange{
    color: rgb(234, 119, 42);
}
.color-white{
    color: rgb(255, 255, 255);
}
.rounded{
    border-radius: 10%;
}
.Contact{
    padding-top: 80%;
}
.pad-row{
    padding-right: 40%;
    padding-inline: 85%;
    padding-top: 10%;
    font-size-adjust: 100%;
    font-size: xx-large;

