.card-spec{
    background-color: rgb(236, 235,235);
    border-radius: 10px;
    padding: 2%;
}
.card-spec:hover{
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.265);
    color: rgb(236, 125, 22);
}
.icon-size{
    font-size: 25px;
    border-radius: 100%;
    background-color: white;
    width: 25%;
    height: 35%;
    border: black 3px solid;
    text-align: center;
    padding-top: 6%;
}
.arrow-pos{
    padding-left: 70%;
    padding-top: 30%;
}
.color-orange{
    color: rgb(234, 119, 42);
}
.color-white{
    color: rgb(255, 255, 255);
}
.rounded{
    border-radius: 10%;
}
.Contact{
    padding-top: 80%;
}
.pad-row{
    padding-right: 40%;
    padding-inline: 85%;
    padding-top: 10%;
    font-size-adjust: 100%;
    font-size: xx-large;
}
.yellow{
    background:#ffe7cf;
}
.color-or:hover{
    color: rgb(255, 132, 0);
}
.black-color:hover{
background-color: rgb(0, 0, 0);
color: aliceblue;
}
.hover-orange:hover{
    color: rgb(238, 135, 38);
}
.hover-color:hover{
    color: rgb(0, 0, 0);
    background-color: #ffe7cf;
}
.hover-white:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}
.new-color{
    background-color: #ffe7cf;
    border-radius: 10px;
}
.bor-der{
    border-radius: 100%;
}
.size-img{
    width: 40%;
    margin-inline: 20%;
  }
  .marge-r{
    margin-inline: 35%;
  }
  .rouge{
    color: rgb(255, 0, 0);
    font-size: 70px;
    margin-bottom: 10%;
  }input , select , textarea{
    background-color: azure !important;
    border-radius: 10px !important;
    border: black 2px solid !important ;
  }
  #but{
    background-color: black;
    color: white;
    width: 100%;
  }
  #but :hover{
    background-color: black;
    color: white;
    width: 100%;
    border: black 2px solid;
  }